.search_content_block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search_name_list {
  li {
    position: relative;
    display: inline-block;
    margin: 0 3px;
    padding: 10px 5px;
    cursor: pointer;
    transition: all .32s linear;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: cadetblue;
      transition: all .32s linear;
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  .active {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: cadetblue;
    }
  }
}
